aside.adminNav
  header.avatar
  section.navlist
    ol
      dd 
        a(href='/admin/home' class='cur') HOME 
      dd 
        a(href='/admin/new') 发布文章
      dd  
        a(href='/admin/user') 用户管理
      dd  
        a(href='/admin/user') 路径管理
      dd  
        a(href='/admin/user') 标签管理
