link(href='http://127.0.0.1:3000/css/base.css', rel='stylesheet')
//- link(href='http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css',rel='stylesheet')
//- link(href='https://highlightjs.org/static/demo/styles/solarized-light.css', rel='stylesheet')
//- link(href='https://highlightjs.org/static/demo/styles/tomorrow.css', rel='stylesheet')
//- link(href='https://highlightjs.org/static/demo/styles/kimbie.light.css', rel='stylesheet')

link(href='http://127.0.0.1:3000/css/github-markdown.css', rel='stylesheet')
