/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var,
i {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
a:focus {
  outline-style: none;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
/*to enable resizing for IE*/
}
textarea {
  resize: none;
}
input::-ms-clear {
  display: none;
}
body {
  font: 12px/1.3 'Arial', 'Microsoft YaHei';
  _font-family: simsun;
  overflow-x: hidden;
  color: #333;
}
body.WB_macT {
  font-family: 'Helvetica', 'STHeiti';
}
body.WB_xpT {
  font-family: 'Arial', 'Helvetica', 'sans-serif';
}
::selection {
  background: #eb7350;
  color: #fff;
}
a {
  text-decoration: none;
  color: #00ae66;
}
input[type='text'],
input[type='password'],
textarea {
  box-sizing: border-box;
  padding: 4px 10px;
  width: 100%;
  font: 12px/1.5 '';
  border: 1px solid #e5e5e5;
}
textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #f05023;
}
input[type='file'] {
  outline: none;
}
input:disabled {
  border: none;
}
form button:last-child:not(:first-child) {
  margin-left: 15px;
}
.G-tc {
  text-align: center;
}
.G-layout-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.G-box-col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.G-center-v {
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.G-center-h {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
aside.mdNav {
  min-width: 300px;
  background: #fff;
  padding-left: 20px;
}
aside.mdNav ol>ol {
  margin-left: 20px;
}
aside.mdNav a {
  display: block;
  font: 12px/40px '';
}
aside.mdNav dt {
  font: 14px/50px '';
  position: relative;
}
aside.mdNav dt:after {
  content: '';
  position: absolute;
  height: 20px;
  width: 4px;
  border-radius: 2px;
  background: #00ae66;
  left: -20px;
  top: 15px;
}
.adminWrap {
  position: absolute;
  width: 100%;
  height: 100%;
}
.adminWrap aside.adminNav {
  width: 150px;
  height: 100%;
  background: #252525;
  color: #9e9e9e;
  box-shadow: 1px 0px 20px rgba(0,0,0,0.1);
}
.adminWrap aside.adminNav .avatar {
  height: 120px;
  background: #fff;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.adminWrap aside.adminNav .avatar>img {
  width: 120%;
  height: 120%;
  filter: blur(8px);
}
.adminWrap aside.adminNav .avatar .infoWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
}
.adminWrap aside.adminNav .avatar .picWrap {
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid rgba(255,255,255,0.3);
}
.adminWrap aside.adminNav .avatar .picWrap img {
  width: 100%;
  background: rgba(0,0,0,0.6);
}
.adminWrap aside.adminNav .avatar .name {
  color: #fff;
  margin-top: 5px;
  text-shadow: 0 0 4px rgba(0,0,0,0.5);
}
.adminWrap aside.adminNav a {
  color: #9e9e9e;
  font: 14px/40px '';
  display: block;
  border-width: 0 2px 1px 0;
  border-color: transparent transparent #111 transparent;
  border-style: solid;
  text-align: center;
  padding: 5px 10px;
  box-sizing: border-box;
}
.adminWrap aside.adminNav a:hover,
.adminWrap aside.adminNav a.cur {
  color: #fff;
  background: #191919;
}
.adminWrap aside.adminNav a.cur {
  border-color: transparent #f05023 #111 transparent;
}
.adminWrap .right .main {
  padding: 34px;
  height: 100%;
  box-sizing: border-box;
}
.adminWrap .right .main textarea.ta {
  height: 50px;
}
.adminWrap .right .main .adminNew {
  height: 100%;
}
.adminWrap .right .main .adminNew .formArea {
  flex-direction: column;
}
.adminWrap .right .main .adminNew .formArea textarea.mdta {
  height: 100%;
  font-size: 14px;
}
.adminWrap .right .main .adminNew .viewArea {
  padding-left: 15px;
  border-left: 1px dashed #e5e5e5;
  margin-left: 15px;
}
.adminWrap .titBar {
  font: 16px/35px '';
  border-bottom: 1px dashed #e5e5e5;
  margin-bottom: 25px;
  padding-bottom: 5px;
}
.adminWrap table {
  border: 1px solid #e5e5e5;
  width: 100%;
  text-align: center;
  font: 14px/1 '';
  margin-bottom: 20px;
}
.adminWrap table caption {
  position: relative;
  text-indent: 1em;
  font: bolder 12px/18px '';
  padding-bottom: 10px;
}
.adminWrap table caption a {
  display: none;
  margin-left: 20px;
}
.adminWrap table caption:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 18px;
  border-radius: 2px;
  background: #ccc;
  left: 0;
  top: 0;
}
.adminWrap table:hover a {
  display: inline-block;
}
.adminWrap table:hover caption:after {
  background: #f05023;
}
.adminWrap table .imgWrap {
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
}
.adminWrap table .imgWrap img {
  width: 100%;
  height: 100%;
}
.adminWrap table th {
  line-height: 40px;
  background: #f5f5f5;
  text-align: center;
  border: 1px solid #e5e5e5;
}
.adminWrap table th:first-child {
  min-width: 40px;
}
.adminWrap table td {
  padding: 5px;
  border: 1px solid #e5e5e5;
}
.adminWrap table td a {
  margin: 0 5px;
}
.adminWrap table .tr-lv2 {
  background: #dfdfdf;
}
.adminWrap table .tr-lv3 {
  background: #f5f5f5;
}
.contWrap {
  padding: 10px;
}
.markdown-body {
  overflow: hidden;
}
.header {
  line-height: 50px;
  padding: 0 10px;
  background: #73aefb;
}
.footer {
  position: fixed;
  width: 100%;
  background: #ccc;
  line-height: 50px;
  text-align: center;
  bottom: 0;
}
.G-btn-a,
a.G-btn-a {
  background-color: #2980b9;
  font: 12px/35px '';
  height: 35px;
  text-align: center;
  min-width: 50px;
  color: #fff;
  border: 0;
  border-radius: 5px;
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}
.G-btn-a:hover,
a.G-btn-a:hover {
  opacity: 0.9;
}
.G-btn-a:active,
a.G-btn-a:active {
  opacity: 1;
}
.G-btn-a:focus,
a.G-btn-a:focus {
  outline: none;
}
.G-form-list {
  line-height: 34px;
  font-size: 12px;
}
.G-form-list .row {
  white-space: nowrap;
}
.G-form-list .row .tit {
  min-width: 5em;
  text-align: right;
  display: inline-block;
  margin-right: 0;
}
.G-form-list .row label {
  min-width: auto;
  margin-right: 10px;
}
.G-form-list .row:not(:last-child) {
  margin-bottom: 10px;
}
.G-form-list .row > div:not(:last-child) {
  margin-right: 15px;
}
.G-form-list .row.thin {
  line-height: 24px;
}
.G-form-list .row > div.select-extend {
  margin-right: 0;
}
.G-form-list.auto .tit,
.G-form-list .auto .tit {
  text-align: left;
  min-width: auto;
}
.G-form-list.t-6em .tit,
.G-form-list .t-6em .tit {
  min-width: 6em;
}
.G-form-list.t-7em .tit,
.G-form-list .t-7em .tit {
  min-width: 7em;
}
.G-form-list.t-8em .tit,
.G-form-list .t-8em .tit {
  min-width: 8em;
}
.G-form-list.t-9em .tit,
.G-form-list .t-9em .tit {
  min-width: 9em;
}
.G-form-list.t-10em .tit,
.G-form-list .t-10em .tit {
  min-width: 10em;
}
.G-form-list.t-11em .tit,
.G-form-list .t-11em .tit {
  min-width: 11em;
}
.G-form-list .item-list {
  flex-wrap: wrap;
}
.G-form-list .item-list .item {
  min-width: 23%;
  margin-bottom: 5px;
}
.G-form-list .item-list.row {
  margin-bottom: 0;
}
.G-form-list .input[type=text] {
  width: 130px;
}
.G-form-list .left .tit {
  text-align: left;
}
.G-form-list .right .tit {
  text-align: right;
}
.status {
  position: absolute;
  top: -38px;
  left: 50%;
}
.status span {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  left: -50%;
  color: #b94a48;
  border: 1px solid #c7254e;
  background: #f9f2f4;
  border-radius: 4px;
  font: 12px/28px '';
  padding: 0 20px;
}
.status span:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #ccc;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 1px solid #c7254e;
  background: #f9f2f4;
  border-width: 0 1px 1px 0;
}
.G-layerWrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
}
.G-layer {
  background: #fff;
  border-radius: 3px;
  padding-bottom: 15px;
  position: relative;
}
.G-layer .close {
  position: absolute;
  width: 40px;
  height: 40px;
  right: -20px;
  top: -20px;
  font: 26px/40px "iconfont";
  background: #26282d;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  text-align: center;
}
.G-layer .close:hover {
  color: rgba(255,255,255,0.9);
}
.G-layer .title {
  font: bold 18px/50px '';
  color: #333;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.G-layer .content {
  min-width: 400px;
  word-wrap: break-word;
  font-size: 14px;
}
.G-layer .content.def {
  padding: 20px 30px;
}
.G-layer .content textarea {
  resize: none;
  padding: 8px 10px;
  display: block;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
}
.G-layer .btns {
  text-align: center;
  padding-top: 15px;
}
.G-layer .btns button,
.G-layer .btns a {
  margin: 0 10px;
}
