extend ../adminlayout

block content
  .adminNew.G-layout-box
    form.formArea.G-box-col.G-layout-box.G-form-list(action='/admin/new/creat', method='post')
      .row.G-layout-box
        em 文章标题：
        input.G-box-col(type="text", name="title", placeholder='来个标题呗 ^.^', required)
      .row.G-layout-box
        em 文章概述：
        textarea.ta.G-box-col(name="description", placeholder='写个前言？')
      .row
        em 选择分类：
        select#lv-1(name='paths', required)
          option(value='') 请选择
          each item in data
            - if (item.level=='1')
              option(value='#{item.pathName}', data-id='#{item._id}') #{item.pathName}
        select#lv-2(name='paths', style='display:none;')
        select#lv-3(name='paths', style='display:none;')
      .row.G-layout-box
        em 添加标签：
        div#tagsWrap
          <span class="tag"><input type="text" name="tags" required/></tag>
        a.G-btn-a.actAddTag(href='javascript:;') +        
      .row.G-box-col
        textarea.mdta(name="article", placeholder='# Welcome markDown', required)
      .row.G-layout-box
        .G-box-col (note here)
        button.G-btn-a(type='submit') 预览
        button.G-btn-a(type='submit') 提交
    .viewArea.G-box-col(style='display:none')
      dev 预览
  script(src='/js/pages/adminNew.js') 
