extend ../adminlayout

block content
  .adminPathManage
    header.G-layout-box
      h2.G-box-col.titBar 文章分类管理
      a.G-btn-a.actAddPath(href='javascript:;') 新增一级分类
    section
      //- - var i=1
      table
        thead
          tr
            th 级别
            th 上级目录
            th 名称
            th 创建时间
            th 操作
        tbody 
          //- each item in data
            tr
              td 
              td 
              td
              td 
                a.actModify(href='javascript:;', data-id='#{item._id}') 修改
                a.actDel(href='javascript:;', data-id='#{item._id}') 删除
        tfooter
          tr
            td.G-tc(colspan='100') 翻页
          
  .G-layerWrap.G-layout-box.G-center-v.G-center-h(style='display:none')
    .G-layer
      .addPathLayer
      form(action='/admin/path/creatParent', method='post')
        a.close.actClose(href='javascript:;') x
        h3.title 新增一级分类
        .content.def.G-form-list
          .row.G-layout-box
            em 分类名称：
            input.G-box-col(type='text', name='userName', placeholder='请填写分类名', required)
        .btns
          button.G-btn-a 立即提交
  
  script(src='/js/page/adminPathManage.js') 
